doctype html
mixin js(path)
  script(type='text/javascript', src=path)
mixin js_async(path)
  script(type='text/javascript', src="."+path, async='async')
mixin css(path)
  link(rel='stylesheet', href=path)
mixin template(id)
  script(id=id, type="text/x-jquery-tmpl")
html(lang='ja')
  head
    title= name
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="viewport" content="width=720, initial-scale=1")
    //- +css('/vendor/bootstrap/css/bootstrap.css')
    +css('./vendor/font-awesome/css/font-awesome.min.css')
    +css('./css/index.css')
    +css('./css/setting.css')
    +css('./css/save.css')
    //- +css('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,700')
    script
      | if(require('electron-connect')) require('electron-connect').client.create()
    block header
  body
    .js-loader
      //- +js('https://fb.me/react-with-addons-0.14.6.js')
      //- +js('https://fb.me/react-dom-0.14.6.js')
      +js('./js/renderer/app.js')
      block loadFiles
    block contents
